.email-table {
    margin : 10px;
    border: 1px solid black;
}

.email-header th {
    font-family: helvetica;
    background-color: #4CCCE3;
    padding: 5px;
    margin: 5px;
}

.email-row td {
    font-family: helvetica;
    background-color: #CEECF1;
    padding: 5px;
    margin: 5px;
}

.email-controls {
    font-family: helvetica;
    background-color: #CEECF1;
    padding: 5px;
    margin: 5px;
}

